section{
    background-color: rgb(10, 2, 2);
    text-align: center;
    color: white;
}
img{
    width: 500px;display: flex;
}
p{
    text-align: center;
}
body{
    background-color: #da5306
}
#dov{
    display: flex;
    justify-content: center;
    }